<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/pikaday.min.css">


    <style>
        .section {
            display: none;
        }

        .active {
            display: block;
        }

        nav a {
            margin: 0 15px;
            cursor: pointer;
        }

        #balance-info {  
            /* 水平居中（适用于文本或内联元素） */  
            text-align: center;  
  
            /* 垂直居中（使用 Flexbox） */  
            display: flex;  
            justify-content: center; /* 水平居中 */  
            align-items: center; /* 垂直居中 */  
            height: 100px; /* 设置一个高度以便看到垂直居中的效果 */  
  
            /* 字体样式 */  
            font-family: Arial, sans-serif;  
            font-size: 33px;  
            color: #333;  
  
            /* mt-4 可能是某个框架（如 Bootstrap）的 margin-top 样式，如果需要，可以保留 */  
            margin-top: 1rem; /* 假设 mt-4 相当于 1rem 的 margin-top */  
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark">
        <div class="container"><a class="navbar-brand logo" href="#">Brand</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="home.html">首页</a></li>
                    <li class="nav-item"><a id="nav-add-scheme" class="nav-link">添加保险</a></li>
                    <li class="nav-item"><a id="nav-view-schemes" class="nav-link">查询所有保险信息</a></li>
                    <li class="nav-item"><a id="nav-buy-scheme" class="nav-link" >售卖保险</a></li>
                    <li class="nav-item"><a id="nav-check-blance" class="nav-link">余额查询</a></li>
                    <li class="nav-item"><a id="nav-personal-info" class="nav-link">个人信息</a></li>
                </ul>
            </div>
        </div>
    </nav>




    <div id="add-scheme" class="section">
        <div class="container">
            <main class="page contact-page">
                <section class="portfolio-block contact">
                    <div class="container">
                        <div class="heading">
                            <br><br>
                            <h1>添加保险</h1>
                        </div>
                        <form class="form-signin" data-bs-theme="light" onsubmit="addScheme(event)">
                            <h4>请在此添加保险信息</h4>
                            <input type="text" class="form-control" placeholder="保险名称" required
                                v-model="schemeInfo.schemeName">
                            <input type="text" class="form-control" placeholder="有效时长(年)" required
                                v-model="schemeInfo.lastTime">
                            <input type="text" class="form-control" placeholder="价格" required
                                v-model="schemeInfo.price">
                            <input type="text" class="form-control" placeholder="赔付金额" required
                                v-model="schemeInfo.payOut">
                            <br>
                            <button class="btn btn-primary btn-block" type="submit">添加保险</button>
                        </form>
                    </div>
                </section>
            </main>
        </div> <!-- /container -->
    </div>

    <div id="view-schemes" class="section">

        <div class="container">
            <main class="page contact-page">
                <section class="portfolio-block contact">
                    <div class="container">
                        <main class="page contact-page">
                            <div class="heading">
                                <br><br>
                                <h1>保险列表</h1>
                            </div>
                            <button class="btn btn-primary btn-block" onclick="SchemeInfo()">获取保险列表</button>
                            <!-- 显示保险信息的区域 -->
                            <div id="scheme-info" class="mt-4"></div>
                        </main>
                    </div> <!-- /container -->
                </section>
            </main>
        </div> <!-- /container -->

    </div>

    <div id="buy-schemes" class="section">

        <div class="container">
            <main class="page contact-page">
                <section class="portfolio-block contact">
                    <div class="container">
                        <main class="page contact-page">
                            <div class="heading">
                                <br><br>
                                <h1>售卖保险</h1>
                            </div>
                            <button class="btn btn-primary btn-block" onclick="getBuyRecords()">保险售卖情况</button>
                            <!-- 显示保险信息的区域 -->
                            <div id="buyScheme-info" class="mt-4"></div>
                        </main>
                    </div> <!-- /container -->
                </section>
            </main>
        </div> <!-- /container -->

    </div>

    <div id="check-blance" class="section">

        <div class="container">
            <main class="page contact-page">
                <section class="portfolio-block contact">
                    <div class="container">
                        <main class="page contact-page">
                            
                            <button class="btn btn-primary btn-block" onclick="getBalance()">查看账户余额</button>
                            <!-- 显示保险信息的区域 -->

                            <div id="balance-info" class="mt-4"></div>

                        </main>
                    </div> <!-- /container -->
                </section>
            </main>
        </div> <!-- /container -->

    </div>


    <script>
        document.getElementById('nav-add-scheme').addEventListener('click', function () {
            showSection('add-scheme');
        });
        document.getElementById('nav-view-schemes').addEventListener('click', function () {
            showSection('view-schemes');
        });
        document.getElementById('nav-buy-scheme').addEventListener('click', function () {
            showSection('buy-schemes');
        });
        document.getElementById('nav-check-blance').addEventListener('click', function () {
            showSection('check-blance');
        });
        document.getElementById('nav-personal-info').addEventListener('click', function () {
            showSection('personal-info');
        });

        function showSection(sectionId) {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => {
                section.classList.remove('active');
            });
            document.getElementById(sectionId).classList.add('active');
        }

        // 默认展示第一个板块
        showSection('add-scheme');
    </script>

    <!-- 在 HTML 文件中引入 web3.js -->
    <script src="./web3.min.js"></script>
    <!-- 引入 contracts.js -->
    <script src="./libs/contracts.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        let web3;
        // 浏览器环境且已经安装了 Metamask
        if (typeof window !== 'undefined' && typeof window.web3 !== 'undefined') {
            web3 = new Web3(window.web3.currentProvider);
            console.log("装了metamask");
            // 服务器环境或者没有安装 Metamask
        } else {
            web3 = new Web3(new Web3.providers.HttpProvider('http://127.0.0.1:8888'));
            console.log("没有装metamask");
        }

        // 获取 URL 参数的函数
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        // 获取参数
        var companyAddr = getUrlParameter('CompanyAddress');
        var buyRecords = [];

        // 在页面中显示参数值，你可以根据需要进行处理
        document.write('<h3>保险公司合约地址为：' + companyAddr + '</h3>');

        async function first() {
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
            const owner = accounts[0];
            console.log("owner", owner);

            const response = await fetch('./compiled/Company.json');
            const companyJson = await response.json();
            // 使用加载的 JSON 数据创建合约对象

            const companyContract = new web3.eth.Contract(companyJson.abi, companyAddr);

            return { companyContract, owner };
        }

        async function two() {
            if (!validateForm()) return;

            const newScheme = {
                schemeName: document.querySelector('[placeholder="保险名称"]').value,
                lastTime: document.querySelector('[placeholder="有效时长(年)"]').value,
                price: document.querySelector('[placeholder="价格"]').value,
                payOut: document.querySelector('[placeholder="赔付金额"]').value,
            };

            var Contracts = await loadContracts();
            var AccidentRecordList = Contracts.AccidentRecordList;
            var BuyRecordList = Contracts.BuyRecordList;
            var CarOwnerList = Contracts.CarOwnerList;
            var CompanyList = Contracts.CompanyList;
            var PolicerList = Contracts.PolicerList;

            return { newScheme };
        }

        async function addScheme(event) {
            event.preventDefault(); // 阻止默认表单提交行为

            try {
                const { companyContract, owner } = await first();
                const { newScheme } = await two();
                console.log("companyContract", companyContract);
                console.log("owner", owner);

                let ownerBalance = await companyContract.methods.getBalance().call({ from: owner });
                console.log("ownerBalance", ownerBalance);

                await companyContract.methods.addScheme(newScheme.schemeName, newScheme.lastTime, newScheme.price, newScheme.payOut).send({
                    from: owner, gas: 5000000
                });

                let schemeIds = await companyContract.methods.getSchemeIds().call({ from: owner });
                console.log("schemeIds", schemeIds);

                alert("添加保险成功！");
            } catch (err) {
                console.error(err.message);
                alert(err.message);
            }
        }

        async function SchemeInfo() {
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);

            try {
                let schemeIds = await companyContract.methods.getSchemeIds().call({ from: owner });
                console.log("schemeIds", schemeIds);

                const insurances = [];
                for (let i = 0; i < schemeIds.length; i++) {
                    let schemeInfo = await getSchemeInfo(companyAddr, schemeIds[i]);
                    insurances.push(schemeInfo);
                }

                // 打印方案信息到 HTML 页面
                const schemeInfoDiv = document.getElementById('scheme-info');
                schemeInfoDiv.innerHTML = ''; // 清空之前的内容
                insurances.forEach(scheme => {
                    const schemeElement = document.createElement('div');
                    schemeElement.classList.add('card', 'mb-3');
                    schemeElement.innerHTML = `
                    <div class="card-body">    
                    <p class="card-text">
                        方案 ID: ${scheme.schemeId}&emsp;
                        方案名称: ${scheme.schemeName}&emsp;
                        有效时长: ${scheme.lastTime}&emsp;
                        价格: ${scheme.price}&emsp;
                        赔付金额: ${scheme.payOut}&emsp;
                        在售: ${scheme.onSale}
                        </p>
                    </div>
                    `;
                    schemeInfoDiv.appendChild(schemeElement);
                });
            } catch (err) {
                console.error(err.message);
                alert(err.message);
            }
        }

        async function getSchemeInfo(companyAddr, schemeId) {
            const companyContract = await first().then(res => res.companyContract);
            let schemeInfo = await companyContract.methods.getSchemeInfoById(schemeId).call();
            // 返回scheme.Id,scheme.schemeName,scheme.lastTime,scheme.price,scheme.payOut,scheme.onSale共6个值
            let scheme = {};
            scheme.schemeId = schemeInfo[0];
            scheme.schemeName = schemeInfo[1];
            scheme.lastTime = schemeInfo[2];
            scheme.price = schemeInfo[3];
            scheme.payOut = schemeInfo[4];
            scheme.onSale = schemeInfo[5];
            return scheme;
        }

        async function getOwnerInfo(carOwnerAddr) {
            const response = await fetch('./compiled/CarOwner.json');
            const carOwnerJson = await response.json();
            const carOwnerContract = new web3.eth.Contract(carOwnerJson.abi, carOwnerAddr);
            let ownerInfo = await carOwnerContract
            .methods.getOwnerInfo()
            .call();
            let owner = {}
            owner.ownerName = ownerInfo[0];
            owner.gender = ownerInfo[1];
            owner.phone = ownerInfo[2];
            return owner;
        }

        async function getCarInfo(carOwnerAddr,carId) {
            
            const response = await fetch('./compiled/CarOwner.json');
            const carOwnerJson = await response.json();
            const carOwnerContract = new web3.eth.Contract(carOwnerJson.abi, carOwnerAddr);
            try {
                let carInfo = await carOwnerContract.methods.getCarInfoById(carId).call();
                let car = {};
                car.carId = carInfo[0];
                car.carNumber = carInfo[1];
                car.carName = carInfo[2];
                car.carAge = carInfo[3];
                car.buyRecordId = carInfo[4];
                return car;
            } catch (error) {
                console.error(err.message);
                alert(err.message);
            }            
        }

        async function getCompanyInfo(companyAddr) {
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);
            let companyInfo = await companyContract.methods.getCompanyInfo().call();
            let company = {};
            company.companyName = companyInfo[0];
            company.companyAddr = companyInfo[1];
            company.companyPhone = companyInfo[2];
            return company;
        }

        async function getBuyRecordInfo(buyRecordListContract,buyRecordId) {
            var Contracts = await loadContracts()
            var AccidentRecordList = Contracts.AccidentRecordList
            var BuyRecordList = Contracts.BuyRecordList
            var CarOwnerList = Contracts.CarOwnerList
            var CompanyList = Contracts.CompanyList
            var PolicerList = Contracts.PolicerList
            //返回结果顺序为buyRecord.Id,buyRecord.carOwner,buyRecord.carId,buyRecord.company
            //,buyRecord.schemeId,buyRecord.startTime,buyRecord.processState,buyRecord.Balance。共8个返回值
            let buyRecordInfo = await BuyRecordList.methods.getBuyRecordById(buyRecordId).call();
            let buyRecord = {};
            buyRecord.Id = buyRecordInfo[0];
            buyRecord.carOwnerAddr = buyRecordInfo[1];
            buyRecord.carId = buyRecordInfo[2];
            buyRecord.companyAddr = buyRecordInfo[3];
            buyRecord.schemeId = buyRecordInfo[4];
            buyRecord.startTime = buyRecordInfo[5];
            buyRecord.processState = buyRecordInfo[6];
            buyRecord.balance = buyRecordInfo[7];
            return buyRecord;
        }

        async function parseBookInfo(buyRecord) {
            let bookInfo = {};
            bookInfo.balance = buyRecord.balance;//获得订单剩余最多赔付金额
            bookInfo.bookId = buyRecord.Id;//获得订单编号
            let result = await overTime(buyRecord.companyAddr,buyRecord.schemeId,buyRecord.startTime);//返回结果形式[true/false,逾期Date]
            let isOverTime = result[0];
            let overTimeDate = result[1];
            bookInfo.overTime = overTimeDate.getFullYear()+"/"+(overTimeDate.getMonth()+1)+"/"+overTimeDate.getDate();
            if(buyRecord.processState==0) bookInfo.state="待处理";
            else if(buyRecord.processState==2) bookInfo.state="已拒绝";
            else if(buyRecord.processState==1) {//已经同意，判断是否逾期
            if(isOverTime) bookInfo.state = "逾期";
            else bookInfo.state = "在保";
            }
            return bookInfo;
        }

        async function overTime(companyAddr,schemeId,startTime) {//根据订单记录判断是否逾期
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);
            let schemeInfo = await companyContract.methods.getSchemeInfoById(schemeId).call();
            let lastTime = parseInt(schemeInfo[2]);//以年为单位
            console.log("订单持续时间："+lastTime);
            let date = new Date(parseInt(startTime));
            date.setFullYear(date.getFullYear()+lastTime);//逾期年月日
            if(new Date().valueOf()>date.valueOf()) return [true,date];//逾期时间与当前时间比较，如果大于就逾期
            else return [false,date];
        }
        
        async function getBuyRecords() {
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);

            var Contracts = await loadContracts()
            var AccidentRecordList = Contracts.AccidentRecordList
            var BuyRecordList = Contracts.BuyRecordList
            var CarOwnerList = Contracts.CarOwnerList
            var CompanyList = Contracts.CompanyList
            var PolicerList = Contracts.PolicerList
            
            try {

                buyRecords = [];//购买记录信息数组
                let buyRecordIds = await BuyRecordList.methods.getBuyRecordIdsByCompany(companyContract.options.address).call();
                for(var i = 0; i < buyRecordIds.length; i++) {
                    let buyRecordInfo = {
                        carInfo:{},
                        ownerInfo:{},
                        companyInfo:{},
                        schemeInfo:{},
                        bookInfo:{},
                    };
                    buyRecords.push(buyRecordInfo);               
                }
            
            console.log("buyRecords",buyRecords);
            buyRecordIds.map(async (buyRecordId,index)=>{
                let buyRecord = await getBuyRecordInfo(BuyRecordList,buyRecordId);
                buyRecords[index].bookInfo  = await parseBookInfo(buyRecord);
                buyRecords[index].companyInfo = await getCompanyInfo(buyRecord.companyAddr);
                buyRecords[index].schemeInfo = await getSchemeInfo(buyRecord.companyAddr,buyRecord.schemeId);
                buyRecords[index].carInfo = await getCarInfo(buyRecord.carOwnerAddr,buyRecord.carId);
                buyRecords[index].ownerInfo = await getOwnerInfo(buyRecord.carOwnerAddr);
            });

            // function safeAccess(obj, path, defaultValue = '未知') {  
            //     const parts = path.split('.');  
            //     let current = obj;  
            //     for (let i = 0; i < parts.length; i++) {  
            //         if (current && current.hasOwnProperty(parts[i])) {  
            //             current = current[parts[i]];  
            //         } else {  
            //             return defaultValue;  
            //         }  
            //     }  
            //     return current;  
            // }  

            // 打印方案信息到 HTML 页面
            // await getBuyRecordsHTML();
            const schemeInfoDiv = document.getElementById('buyScheme-info');  
            schemeInfoDiv.innerHTML = ''; // 清空之前的内容  
  
            // 创建一个文档片段来收集要添加到DOM的元素  
            const fragment = document.createDocumentFragment();  
  
            buyRecords.forEach(buyRecord => {  
                console.log("forEach里获取buyRecord:",buyRecord);
                console.log("forEach里获取bookInfo:",buyRecord.bookInfo);
                
                // 创建一个card元素  
                const schemeElement = document.createElement('div');  
                schemeElement.classList.add('card', 'mb-3');  
  
                // 创建一个包含方案信息的p元素  
                const schemeInfoP = document.createElement('p');  
                schemeInfoP.classList.add('card-text');  
                schemeInfoP.textContent = `  
                    客户姓名: ${buyRecord.ownerInfo.ownerName || '未知'}
                    客户电话: ${buyRecord.ownerInfo.phone || '未知'}
                    车辆名称: ${buyRecord.carInfo.carName || '未知'}
                    车辆年数: ${buyRecord.carInfo.carAge || '未知'}
                    预购保险: ${buyRecord.schemeInfo.schemeName || '未知'}
                    处理状态: ${buyRecord.bookInfo.state || '未知'}
                `;  
  
                // 创建一个按钮元素  
                const Button  = document.createElement('button');  
                Button.type = 'button';  
                Button.classList.add('btn', 'btn-primary');  
                Button.textContent = '详情'; 
                Button.addEventListener('click', async () => {  
                    // 处理按钮点击事件  
                    let detail = getAll(buyRecords);
                });  
  
                // 创建一个card-body的div元素并将p元素和按钮添加到其中  
                const cardBody = document.createElement('div');  
                cardBody.classList.add('card-body');  
                cardBody.appendChild(schemeInfoP);  
                cardBody.appendChild(Button); 
  
                // 将card-body添加到card元素中  
                schemeElement.appendChild(cardBody);  
  
                // 将card元素添加到文档片段中  
                fragment.appendChild(schemeElement);  
            });  
  
            // 将文档片段中的所有元素一次性添加到页面上  
            schemeInfoDiv.appendChild(fragment);
        } catch (err) {
            console.error(err.message);
            alert(err.message);
        }
    }

        // 获取购买记录的HTML代码  
        async function getBuyRecordsHTML() { 
            try {
                
            } catch (error) {
                console.error(err.message);
                alert(err.message);
            }
        }
      
        async function getAll(arr) { 
            try {
                // 打印方案信息到 HTML 页面
            const schemeInfoDiv = document.getElementById('buyScheme-info');  
            schemeInfoDiv.innerHTML = ''; // 清空之前的内容  
  
            // 创建一个文档片段来收集要添加到DOM的元素  
            const fragment = document.createDocumentFragment();  
  
            arr.forEach(buyRecord => {  
                
                // 创建一个card元素  
                const schemeElement = document.createElement('div');  
                schemeElement.classList.add('card', 'mb-3');  
  
                // 创建一个包含方案信息的p元素  
                const schemeInfoP = document.createElement('p');  
                schemeInfoP.classList.add('card-text');  
                schemeInfoP.textContent = `
                    车牌号码:  ${buyRecord.carInfo.carNumber || '未知'}
                    车辆名称:  ${buyRecord.carInfo.carName || '未知'}
                    车辆年数:  ${buyRecord.carInfo.carAge || '未知'}
                    车主名称:  ${buyRecord.ownerInfo.ownerName || '未知'}
                    保险购买状态:  ${buyRecord.bookInfo.state || '未知'}
                `;  
                // 创建一个包含方案信息的p元素  
                const schemeInfoP1 = document.createElement('p');  
                schemeInfoP1.classList.add('card-text');  
                schemeInfoP1.textContent = `
                    保险名称:  ${buyRecord.schemeInfo.schemeName || '未知'}
                    保险时长:  ${buyRecord.schemeInfo.lastTime || '未知'}
                    保险价格:  ${buyRecord.schemeInfo.price || '未知'}
                    最大赔付:  ${buyRecord.schemeInfo.payOut || '未知'}
                `; 
                // 创建一个包含方案信息的p元素  
                const schemeInfoP2 = document.createElement('p');  
                schemeInfoP2.classList.add('card-text');  
                schemeInfoP2.textContent = `
                    公司法人:  ${buyRecord.companyInfo.companyName || '未知'}
                    营业执照号:  ${buyRecord.companyInfo.companyAddr || '未知'}
                    联系方式:  ${buyRecord.companyInfo.companyPhone || '未知'}
                `; 
                // 创建一个包含方案信息的p元素  
                const schemeInfoP3 = document.createElement('p');  
                schemeInfoP3.classList.add('card-text');  
                schemeInfoP3.textContent = `
                    订单编号:  ${buyRecord.bookInfo.Id || '未知'}
                    到期时间:  ${buyRecord.bookInfo.overTime || '未知'}
                    订单状态:  ${buyRecord.bookInfo.state || '未知'}
                `;
                
                // 创建一个按钮元素  
                const agreeButton  = document.createElement('button');  
                agreeButton.type = 'button';  
                agreeButton.classList.add('btn', 'btn-primary');  
                agreeButton.textContent = '同意'; 
                agreeButton.addEventListener('click', async () => {  
                    // 处理按钮点击事件  
                    let detail = doBuyRecord(true,buyRecord.bookInfo.bookId);
                });  
                // 创建一个不同意按钮元素  
                const disagreeButton   = document.createElement('button');  
                disagreeButton.type = 'button';  
                disagreeButton.classList.add('btn', 'btn-primary');  
                disagreeButton.textContent = '不同意'; 
                disagreeButton.addEventListener('click', async () => {  
                    // 处理按钮点击事件  
                    let detail = doBuyRecord(false,buyRecord.bookInfo.bookId);
                });   
  
                // 创建一个card-body的div元素并将p元素和按钮添加到其中  
                const cardBody = document.createElement('div');  
                cardBody.classList.add('card-body');  
                cardBody.appendChild(schemeInfoP);
                cardBody.appendChild(schemeInfoP1);  
                cardBody.appendChild(schemeInfoP2);  
                cardBody.appendChild(schemeInfoP3);    
                cardBody.appendChild(agreeButton);  
                cardBody.appendChild(disagreeButton); 
  
                // 将card-body添加到card元素中  
                schemeElement.appendChild(cardBody);  
  
                // 将card元素添加到文档片段中  
                fragment.appendChild(schemeElement);  
            });  
  
            // 将文档片段中的所有元素一次性添加到页面上  
            schemeInfoDiv.appendChild(fragment);
            } catch (error) {
                console.error(err.message);
                alert(err.message);
            }
        }

        async function doBuyRecord(approve,buyRecordId) {
            console.log(approve);
            console.log(buyRecordId);
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);

            var Contracts = await loadContracts()
            var AccidentRecordList = Contracts.AccidentRecordList
            var BuyRecordList = Contracts.BuyRecordList
            var CarOwnerList = Contracts.CarOwnerList
            var CompanyList = Contracts.CompanyList
            var PolicerList = Contracts.PolicerList
			try {
                let buyRecordInfo = await getBuyRecordInfo(BuyRecordList,buyRecordId);
                bookInfo  = await parseBookInfo(buyRecordInfo);
                schemeInfo = await getSchemeInfo(buyRecordInfo.companyAddr,buyRecordInfo.schemeId);
                await BuyRecordList.methods.doBuyRecord(CompanyList.options.address,
                buyRecordInfo.companyAddr,buyRecordId,approve,schemeInfo.payOut).send({
                from: owner,gas:5000000
            });
            if(approve) {
                alert("已同意");
            } else {
                alert("已拒绝");
            }
            // buyRecordInfo = await getBuyRecordInfo(buyRecordListContract,$route.params.Id);
            // bookInfo = await parseBookInfo(buyRecordInfo);
        } catch (err) {
            console.error(err.message);
            alert(err.message);
        }
      }
        
        async function getBalance() {
            const companyContract = await first().then(res => res.companyContract);
            const owner = await first().then(res => res.owner);
            const balance = await companyContract.methods.getBalance().call({ from: owner });
            if (balance > 0) {
                console.log("Balance: " + balance);
                document.getElementById("balance-info").innerHTML = "您现在的账户余额为： " + balance + " ETH";
            } else {
                document.getElementById("balance-info").innerHTML = "您的账户余额为： 0 ETH";
            }
        }  

        function validateForm() {
            const schemeName = document.querySelector('[placeholder="保险名称"]').value;
            const lastTime = document.querySelector('[placeholder="有效时长(年)"]').value;
            const price = document.querySelector('[placeholder="价格"]').value;
            const payOut = document.querySelector('[placeholder="赔付金额"]').value;
            if (!(schemeName && lastTime && price && payOut)) {
                alert("请把信息补充完整！");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>